*{
    background-color: rgb(255, 241, 228);
    box-sizing: border-box;
}

h1,
.second-tier {
    color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 75px;  
    background-color: #fceb9d;
    text-align: center;
    padding: 20px;
    border: 20px;
    margin: 20px;
    border: solid black;

}

.second-tier {
    font-size: 36px;
}

.ordered-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
}
